# Database Configuration
SA_PASSWORD=YourStrong!Passw0rd
DB_NAME=ChessTournaments

# API Configuration
API_PORT=5000
IDENTITY_PORT=5001
SEQ_PORT=5341

# OIDC Configuration
OIDC_CLIENT_ID=chess-tournaments_api
OIDC_CLIENT_SECRET=846B62D0-DEF9-4215-A99D-86E6B8DAB342

# Environment
ASPNETCORE_ENVIRONMENT=Development
